.small-table table tbody td {
  height: 24px;
  line-height: 24px;
  padding: 0 !important;
}
.small-table table tbody td:nth-child(1) {
  padding-left: 5px !important;
}

.small-table table thead th {
  height: 40px;
  line-height: 40px;
  padding: 0 !important;
  font-size: 14px;
  text-align: center;
}
.small-table table thead th:nth-child(1) {
  padding-left: 5px !important;
}
.small-table .v-btn--icon.v-btn--small {
  margin: 0;
}

.small-table table thead tr {
    height: 40px;
}