[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
sanic = "*"
ujson = "*"
elasticsearch-async = "*"

[requires]
python_version = "3.7"
